<h1>Hapus akun</h1>
<p>Apakah anda yakin untuk menghapus akun ini?</p>
    <form action="/users/delete" method="POST">
        <button class="btn btn-dark btn-lg mb-2" name="resp" value="yes" type="submit">Ya</button>
        <button class="btn btn-danger btn-lg mb-2" name="resp" value="no" type="submit">Tidak</button>
    </form>