<div class="card card-body">
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
  <h3>Todo</h3>
  <form action="/todo" method="post">
    <div class="form-group">
      <label for="title">Judul</label>
      <input class="form-control" name="title" type="text" placeholder="Kelas Skilvul" required>
    </div>
    <div class="form-group">
      <label for="dueDate">Tenggat Waktu</label>
      <input class="form-control" name="dueDate" type="text" placeholder="11 Nov 2023" required>
    </div>
    <button type="submit" class="btn btn-dark">Simpan</button>
  </form>
</div>